<h1>質問投稿</h1>

<div class="col-sm-10">
    <%= form_with(model: @question, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <div class="form-group">
          <%= f.text_area :title, class: 'form-control', rows: 1 %>
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
        <%= link_to '一覧に戻る', root_url %>
     <% end %>
</div>