<div class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(@question.user, { size: 100 }) %>" alt="">
      <div class="media-body">
        <div>
          <h1><%= link_to @question.user.name, user_path(@question.user) %> </h1><span class="text-muted">posted at <%= @question.created_at %></span>
        </div>
        <div style="background: linear-gradient(transparent 70%, #a7d6ff 70%);">
          <h5 class="mb-0"><%= @question.title %></h5>
        </div>
        <br>
        <div style="color: #000000; border: solid 3px #000000; padding: 0.5em; border-radius: 0.5em;">
          <h2 class="mb-0"><%= safe_join(@question.content.split("\n"), tag(:br)) %></h2>
        </div>
        <br>
        <div>
          <% if current_user == @question.user %>
            <%= link_to "Edit", edit_question_path(@question.id), class: 'btn btn-secondary btn-sm' %>
            <%= link_to "Delete", @question, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
        <br>
        <div>
          <%= form_with(model: [@question, @answer], local: true) do |f| %>
            <%= render 'layouts/error_messages', model: f.object %>
            <%= hidden_field_tag :question_id, @question.id %>
            <div class="form-group">
              <%= f.text_area :content, :placeholder =>"ここに回答を入力", class: 'form-control', rows: 2%>
                  
              <%= f.submit 'Answer!', class: 'btn btn-primary btn-block' %>
            </div>
          <% end %>
        </div>

        <h3 style="color: #010079; text-shadow: 0 0 5px white; border-left: solid 7px #010079; background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px); background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);">↓この質問に対する回答↓</h3>
        <div>
          <% if @answers != nil %>
            <% @answers.each do |answer| %>
              <div class="media mb-3">
                <img class="mr-2 rounded" src="<%= gravatar_url(answer.user, { size: 50 }) %>" alt="">
                <div class="media-body">
                  <div>
                    <%= link_to answer.user.name, user_path(answer.user) %> <span class="text-muted">posted at <%= answer.created_at %></span>
                  </div>
                  <div>
                    <p class="mb-0"><%= safe_join(answer.content.split("\n"), tag(:br)) %></p>
                  </div>
                  <div>
                    <% if current_user == answer.user %>
                      <%= link_to "Delete", question_answer_path(@question, answer), method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
</div>